= simple_form_for @post do |f|
	= f.input :title , label: 'Enter the name of the translation task'
	= f.input :task, :input_html => {:rows => 4}, label: 'Describe what you need'
	= select_tag(:group_id, options_for_select(@groups), :prompt => "Select a category!")
	= f.input :translation, :input_html => {:rows => 6} , label: 'Write here what you would like translated'
	= f.input :all_tags, label: "Tags"
	= f.button :submit
