- if user_signed_in?
	%p#intro
		Hi there!
		= current_user.name

	.container-fluid
		.row
			.col-xs-3
				%h2 Everyday translations
				%p Have a question about an expression, a proverb or somthing in general? Get some answers by posting it here!
				%p
					%a.btn.btn-success
					= link_to "General Translations"
			.col-xs-3
				%h2 I Wonder Why?
				%p I wonder why a pineapple is called a pineapple? ... Get answers to the most puzzling linguistic questions out there!
				%p
					%a.btn.btn-success
					= link_to "Wonder why"
			.col-xs-3
				%h2 Serious Corner
				%p How to write a CV, motivational letter, professional letters and the like. Find out more in this section
				%p
					%a.btn.btn-success
					= link_to "Serious Corner"
			.col-xs-3
				%h2 News from around the world
				%p Have a question about an expression, a proverb or somthing in general? Get some answers by posting it here!
				%p
					%a.btn.btn-success
					= link_to "News from around the world"
	
	.wrapper_with_padding
		#notes.clearfix
		- @posts.each do |post|
			.col-sm-6.col-md-6.col-lg-6
				.title
					%h2= link_to post.title, post
					.data.clearfix
						%p.username 
						Requested by 
						= post.user.name
						%p.buttons
							%i.fa.fa-comments
								= post.comments.count

- else
	%p#intro
		Translate.me > #1 source of Crowdsourced Translations
		%br/
		%span
			Having trouble with some translations? You've come to the right place
	
