- if user_signed_in?
  %p#intro
    Hi there!
    = current_user.name
    %br/
    %span
      Having trouble with some translations? You've come to the right place
- else
  %p#intro
    Translate.me > #1 source of Crowdsourced Translations
    %br/
    %span
      Having trouble with some translations? You've come to the right place
  
#posts
- @posts.each do |post|
  .post_image
  =link_to (image_tag post.image.url(:small)), post
  .post_content 
    .title
      %h2= link_to post.title, post
    .data.clearfix
      %p.username 
      Requested by 
      = post.user.name
      %p.buttons
        %span
          %i.fa.fa-comments-o
          = post.comments.count
          %span
          %i.fa.fa-thumbs-o-up
          = post.get_likes.size
 
