- if user_signed_in?
	%p#intro
		Hi there!
		= current_user.name
	
	.container
		.col-md-6
			%h2 Click on a task and help someone out! It only takes a few seconds!
	
	.wrapper_with_padding
		#notes.clearfix
		- @posts.each do |post|
			.col-sm-6.col-md-6.col-lg-6
				.title
					%h2= link_to post.title, post
					.data.clearfix
						%p.username 
						Requested by 
						= post.user.name
						%p.buttons
							%i.fa.fa-comments.fa-2x
								= post.comments.count
							.tags
								= raw post.all_tags
- else
	%p#intro
		Translate.me > #1 source of Crowdsourced Translations
		%br/
		%span
			Having trouble with some translations? You've come to the right place
	
