#post_show
	%h1= @post.title
	%p.username
		Posted by
		= @post.user.name
		about
		= time_ago_in_words(@post.created_at)
	%p
		Task : 
		%br
		=@post.task
	%p
		Translation :
		%br
		=@post.translation
		%br
		= render "posts/translate"

	.clearfix
		.post_image_description
			= image_tag @post.image.url(:small)
		.post_data
			%p.data
				%span.glyphicon.glyphicon-comment
				= pluralize(@post.comments.count, "Comment")
			- if @post.user == current_user
				= link_to "Edit", edit_post_path(@post), class: "btn btn-default btn-sm"
				= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-sm"

#comments
	%h2.comment_count= pluralize(@post.comments.count, "Comment")
	%p
	= render "comments/form"
	- @comments.each do |comment|
		.comment
			%p.username= comment.user.name
			%p.content= comment.content
			= link_to 'Vote up' , vote_up_post_comment_path(@post, comment) , :method => :post , class: "btn btn-default btn-sm"
			%span.glyphicon.glyphicon-check	
			= comment.votes_for - comment.votes_against 