!!!
%html
%head
	%title Translate.me
	= stylesheet_link_tag    'application', media: 'all'
	= javascript_include_tag 'application'
	%link{:rel => "stylesheet"}
	%link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
	= csrf_meta_tags
#wrap
	.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				%button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
				%a.navbar-brand Translate.me
			.collapse.navbar-collapse
				%ul.nav.navbar-nav
					%li
						= link_to "Home", root_path
					%li
						= link_to "About" , root_path
					%li
						= link_to "Profile", edit_user_registration_path
					%li
						= link_to "Posts" , posts_path
					%li
				%ul.nav.navbar-nav.pull-right
					%li
						- if user_signed_in?
							= link_to "Add New Task", new_post_path, class: "btn btn-default btn-sm"
						- else
							= link_to "Sign in", new_user_session_path, class: "btn btn-success btn-sm"
							= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-sm"
			/ /.nav-collapse
	/ Begin page content        
-#.container
-#	.page-header
-#		%h1 Translate.me Crowdsourced Translations

	%p.notice= notice
	%p.alert= alert
	
.container	
	= yield   
			
#footer
	.container
		-Category.all.each do |category|
			= link_to category.name,  posts_path(category: category.name)
		-Group.all.each do |group|
			= link_to group.name,  posts_path(group: group.name)

