!!!
%html
%head
	%meta{:charset => "utf-8"}/
	%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
	%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
	%title Translate.me - Crowdsourced Translations
	= stylesheet_link_tag    'application', media: 'all'
	= javascript_include_tag 'application'
	%link{:rel => "stylesheet"}
	%link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
	= csrf_meta_tags
	%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"}
	%script{:src => "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
	%script{:src => "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"}
		
%body
	.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				%button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
				%a.navbar-brand TRANSLATE.ME
			.navbar-collapse.collapse
				%ul.nav.navbar-nav.navbar-right
					%li
						= link_to "Home", root_path
					%li
						= link_to "About" , static_pages_about_path
					%li
						= link_to "Profile", edit_user_registration_path
					%li
						= link_to "Posts" , posts_path
					%li
						= link_to "Users" , static_pages_index_path
					%li
						- if user_signed_in?
							= link_to "Add New Task", new_post_path, class: "btn btn-success btn-sm"
						- else
							= link_to "Sign in", new_user_session_path, class: "btn btn-success btn-sm"
							
			/ /.nav-collapse
- if notice
	#notice_wrapper
		%p.notice= notice
- elsif
	#notice_wrapper
		%p.alert= alert

.divider
.container	
	= yield   