!!!
%html
%head
	%title Translate.me
	= stylesheet_link_tag    'application', media: 'all'
	= javascript_include_tag 'application'
	%link{:rel => "stylesheet"}
		= csrf_meta_tags
#wrap
	.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				%button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
				%a.navbar-brand Translate.me
			.collapse.navbar-collapse
				%ul.nav.navbar-nav
					%li
						= link_to "Home", root_path
					%li
						= link_to "About" , root_path
					%li
						= link_to "Profile", edit_user_registration_path
					%li
						= link_to "Contact" , root_path
					%li
				%ul.nav.navbar-nav.pull-right
					%li
						- if user_signed_in?
							= link_to "Add New Task", new_post_path, class: "button"
						- else
							= link_to "Sign in", new_user_session_path
							= link_to "Sign Up", new_user_registration_path, class: "button"
			/ /.nav-collapse
	/ Begin page content        
.container
	.page-header
		%h1 Translate.me Crowdsourced Translations

	%p.notice= notice
	%p.alert= alert
	
.container	
	= yield   
			
	-Category.all.each do |category|
		= link_to category.name,  posts_path(category: category.name)
	-Group.all.each do |group|
		= link_to group.name,  posts_path(group: group.name)

#footer
	.container
		%p.text-muted.credit
			Made with rails

